body{
  background-color: black;
  color: rgb(102, 33, 93);
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;  
}